

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Centro de Copiado</title>

    <script src="~/CCA/vendor/jquery/jquery.js"></script>
    <script src="~/CCA/vendor/jquery/jquery.min.js"></script>
    <script src="~/CCA/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/CCA/vendor/jquery-easing/jquery.easing.min.js"></script>

    <script src="~/CCA/js/sb-admin-2.min.js"></script>

    <link href="~/CCA/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <link href="~/CCA/css/sb-admin-2.min.css" rel="stylesheet">

    <script src="~/CCA/vendor/jquery/jquery.min.js"></script>
    <script src="~/CCA/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/CCA/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/CCA/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/CCA/vendor/chart.js/Chart.min.js"></script>
</head>

<body>
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!--Sidebar - Brand-->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="~/Usuario/Index">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-print"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Centro de Copiado</div>
            </a>

            <!--Divider-->
            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="~/Profesor/Index/">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Profesores</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="~/Apunte/Index/">
                    <i class="fas fa-fw fa-book-open"></i>
                    <span>Apuntes</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="~/Reserva/Index/">
                    <i class="fas fa-fw fa-bookmark"></i>
                    <span>Reservas</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="~/Escaneo/Index/">
                    <i class="fas fa-fw fa-book"></i>
                    <span>Escaneo</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="~/Venta/Index/">
                    <i class="fas fa-fw fa-hand-holding-usd"></i>
                    <span>Ventas</span>
                </a>
            </li>

            @if ((int)Session["ROL"] == 0)
            {
                <li class="nav-item">
                    <a class="nav-link" href="~/Usuario/Admin/">
                        <i class="fas fa-fw fa-times"></i>
                        <span>Administrar Usuarios</span>
                    </a>
                </li>
            }

            <li class="nav-item">
                <a class="nav-link" href="~/Home/LogOut/">
                    <i class="fas fa-fw fa-times"></i>
                    <span>Cerrar Sessión</span>
                </a>
            </li>

            <!--División-->
            <hr class="sidebar-divider d-none d-md-block">

        </ul>

        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>

</html>
