@model Negocio.N_ProfesorApunte



<div class="container">

    <br />
    <h1 style="text-align:center">Crear libro</h1>

    <form action="/Profesor/Insertar" method="post" onsubmit="return">
        <div class=" form-group">
            <label for="Nombre" class="control-label col-md-3">Identificador de Profesor</label>
            <div class="col-md-3">
                @Html.EditorFor(model => model.IdProfesor, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                
            </div>
        </div>

        <div class=" form-group">
            <label for="NombreApunte" class="control-label col-md-3">Escriba el nombre del Libro :</label>
            <div class="col-md-3">
                <input type="text" id="NombreApunte" name="NombreApunte" class="form-control" />                
            </div>
        </div>           
                              

        <div class=" form-group">
            <div class="col-md-offset-3 left col-md-10">
                <input type="submit" id="Correcto" value="Crear" class="btn btn-info">
            </div>
        </div>
            
    
    </form>
    <div>
        @Html.ActionLink("Volver a la lista de profesores", "Index")
    </div>

</div>

