@model List<Negocio.N_Apunte>



<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>


<div class="container">
    <br />
    <h1 style="text-align:center">Lista de Apuntes</h1>

    <table id="tblApuntes" class="display">
        <thead>
            <tr>
                <th>TituloApunte</th>
                <th>Stock</th>
                <th>CantidadHojas</th>
                <th>Estado</th>                
            </tr>
        </thead>
        <tbody>
            @foreach (Negocio.N_Apunte item in Model)
            {
                <tr>
                    <td>@item.tituloApunte</td>
                    <td>@item.Stock</td>
                    <td>@item.cantidadHojas</td>
                    <td>@item.estado</td>                   
                  
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {

        $('#tblApuntes').DataTable(
            {

            }
        );
    });
</script>
