
@{
    ViewBag.Title = "Error";
}

<br/>
<div class="container-fluid">

    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="Error">Error</div>
        <p class="lead text-gray-800 mb-5">Su pagina no funciona... </p>
        <p class="text-gray-500 mb-0">@ViewBag.Mensaje</p>
        <a href="~/Usuario/Listar"> Volver</a>
    </div>

</div>